@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#141224] text-white;
  }

  :root {
    --primary-color: #272245;
    --secondary-color: #6c52df;
    --tertiary-color: #897ce6;
    --grey-color: #ccd4ee;
  }
}
