@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white bg-darker-navy;
  }

  :root {
    --darker-navy: #141224;
    --lighter-navy: #21223d;
    --darker-purple: #6c52df;
    --lighter-purple: #897ce6;
    --darker-grey: #9ba2b8;
    --lighter-grey: #e2e5f0;
    --paid: #6dce99;
    --paid-transparent: #00813a1f;
    --pending: #cc7b30;
    --pending-transparent: #8145001f;
    --draft-transparent: #ffffff1f;
  }
}
